.navbar{
    background-color: darksalmon;

}

a{
    text-decoration: none;
}
li{
    display: inline-block;
    padding-left: 20px;
    float: right;
}
li a{
    position: relative;
    right: 10px;
    bottom: 35px;
    
}